<div class="container-fluid">
  <div class="row">
    <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">Login <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/proveedor-login" routerLinkActive="active">Actualizar Datos Proveedor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cliente-login" routerLinkActive="active">Actualizar Datos Cliente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/menu-list" routerLinkActive="active">Menus</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cargar-saldo" routerLinkActive="active">Cargar Saldo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/retirar-saldo" routerLinkActive="active">Retirar Saldo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pedido" routerLinkActive="active">Realizar Pedido</a>
        </li>
      </ul>
    </nav>

    <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
      <h1>Bienvenido</h1>

      <h3 class="float-right">Saldo Actual: </h3>

      <section class="row text-center placeholders">
        <!-- <div class="alert alert-warning" role="alert">
          <strong>ATENCION!</strong> Tiene compras sin calificar
        </div> -->
      </section>
      <div>
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>
