<div>
  <nav>
      <a routerLink="/" routerLinkActive="active">Pagina principal</a>
  </nav>
  <div>
      <h3>Alta de Menu</h3>
      <div>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
          <!-- *ngIf="menu" -->
          <span>Nombre<label>*</label></span>
           <input [(ngModel)]='menu.nombre' id="nombre" name="nombre" #nombre="ngModel" type="text" ngModel required minlength="4" >

           <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
               class="alert alert-danger">
            <div *ngIf="nombre.errors.required">
              El nombre es requerido.
            </div>
            <div *ngIf="nombre.errors.minlength">
              El nombre debe ser de mas de 4 caracteres.
            </div>
          </div>
           <span>Descripcion<label>*</label></span>
           <input [(ngModel)]='menu.descripcion' des="descripcion" name="descripcion" #descripcion="ngModel" type="text" ngModel required minlength="20" >
           <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)"
               class="alert alert-danger">
            <div *ngIf="descripcion.errors.required">
              La Descripcion es requerida.
            </div>
            <div *ngIf="descripcion.errors.minlength">
              La Descripcion debe ser de mas de 20 caracteres.
            </div>
          </div>
           <span>Precio<label>*</label></span>
           <input [(ngModel)]='menu.precio' name="precio" type="number" ngModel required >
           <span>Categoria<label>*</label></span>

           <select [(ngModel)]='menu.categoria' ngModel name="categoria" > Categorias
             <option *ngFor="let cate of categorias" value="{{ cate }}">{{ cate }}</option>
           </select>

           <!-- {{categorias}} -->
           <button type="submit" [disabled]="!f.form.valid" >Submit</button>
        </form>
      </div>
  </div>
</div>
