<div>
  <h3>Realiza tu Pedido</h3>
  <div>

    <h3 i18n>Menu List</h3>
    <form class="form-inline mt-2 mt-md-0" #f="ngForm" (ngSubmit)="getMenus(f)">
      <div class="form-group">
      <span i18n>Name<label></label></span>
      <input i18n-placeholder placeholder="noFilter" class="form-control mr-sm-2" type="text" [ngModel]="nombre" (ngModelChange)="changeParam($event, 'nombre')" name="nombre"/>
      </div>

      <div class="form-group">
      <span i18n>Category<label></label></span>
      <input i18n-placeholder placeholder="noFilter" class="form-control mr-sm-2" type="text" [ngModel]="categoria" (ngModelChange)="changeParam($event, 'categoria')"name="categoria"/>
      </div>

      <div class="form-group">
      <span i18n>Locate<label></label></span>
      <input i18n-placeholder placeholder="noFilter" class="form-control mr-sm-2" type="text" [ngModel]="localidad" (ngModelChange)="changeParam($event, 'localidad')"name="localidad"/>
      </div>

      <button type="submit" [disabled]="!f.form.valid" class="btn btn-primary" i18n>Search</button>
    </form>
    <form #pedidoForm="ngForm" (ngSubmit)="comprar(pedidoForm)">
      <div *ngFor="let menu of menulist">

        <input id="{{ 'menuSelection' + menu.id }}" ng-control="menuSelection" [value]=menu.id type="radio" name="menuSelection" (click)="pedido.menu=menu">
        <label for="{{ menu.id }}">
          <span>Nombre:{{ menu.nombre }}</span>
          <span>Precio: {{ menu.precio }}</span>
          <span>Costo Delivery: {{menu.valorDelivery}}</span>
          <span>Cantidad Minima: {{menu.cantidadMinima}}</span>
        </label>
        <span *ngIf="menu.proveedor">Proveedor: {{ menu.proveedor.nombre }}</span>
        <!-- <input type="checkbox"> -->
      </div>
      <label for="cantidadMenu">Cantidad de Menues</label>
      <input id="cantidadMenu" type="number" name="cantidadPedidos" value="0" [(ngModel)]="pedido.cantidad">

      <span>Descripcion del pedido</span>
      <input type="text" [(ngModel)]='pedido.descripcion' name="descripcion" value="">
      <div class="">
        <button (click)="previous()">&lt;&lt;</button>
        <span>{{query.pageNumber}}</span>
        <button (click)="next()">&gt;&gt;</button>
      </div>

    <button type="submit">Ordenar Pedido</button>
  </form>
</div>
</div>
